.event {
	border: 1px dashed black;
	margin: 1em;
	padding: 0.2em 2em;
}

.event > h3 {
	border-bottom: 1px solid hotpink;
	font-weight: 800;
}

.profileDiv {
	display: flex;
}

.image {
	border-radius: 100%;
	width: 50px;
	padding: 10px;
}

.text {
	text-transform: capitalize;
}
