.event {
	border: 1px dashed black;
	margin: 1em;
	padding: 0.2em 2em;
}

.event > h3 {
	border-bottom: 1px solid hotpink;
	font-weight: 800;
}

.profileDiv {
	display: flex;
}
/* Style for image -> https://9elements.github.io/fancy-border-radius/ */
.image {
	width: 50px;
	margin: 0.5em;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.text {
	text-transform: capitalize;
}
